* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scrollbar-gutter: stable;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flag {
    width: 99vw;
    height: 300vh;
    border-left: 30px solid #003893;
    background: rgba(255, 0, 0, 0.5);
    overflow: hidden;
}

.section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.85);
}

.symbol {
    position: absolute;
    inset: 0;
    width: 100%;
    opacity: 0;
    transition: 0.4s ease;
    z-index: 0;
}

.section {
    position: relative;
    height: 100vh;
    background: transparent;
    overflow: hidden;
}

.triangle-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.first-triangle {
    background-color: rgba(0, 0, 0, 1);

}

.second-triangle {
    background-color: rgba(0, 0, 0, 1);
}

.first-triangle .triangle-image {
    background-image: url('/public/moon.svg');
    clip-path: polygon(0 100%, 0 0, 100% 100%);
    z-index: 1;
}

.second-triangle .triangle-image {
    background-image: url('/public/sun.svg');
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
    z-index: 1;
}

.first-triangle:hover .symbol, .second-triangle:hover .symbol {
    opacity: 1;
}

.flag-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/public/terai.svg');
}

.slogan {
    z-index: 10;
    font-size: 3rem;
    font-weight: 900;

}