* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scrollbar-gutter: stable;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flag {
    width: 99vw;
    height: 200vh;
    border-left: 30px solid #003893;
    background: rgba(0, 0, 0, 1);
    overflow: hidden;
}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.85);
}

.symbol {
    position: absolute;
    inset: 0;
    width: 100%;
    opacity: 0;
    transition: 0.4s ease;
    z-index: 0;
}

.section {
    position: relative;
    height: 50vh;
    background: transparent;
    overflow: hidden;
}

.triangle-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.first-triangle {
    background-color: rgba(0, 0, 0, 1);

}

.second-triangle {
    background-color: rgba(0, 0, 0, 1);
}

.first-triangle .triangle-image {
    background-image: url('/public/moon.svg');
    clip-path: polygon(0 100%, 0 0, 100% 100%);
    z-index: 1;
}

.second-triangle .triangle-image {
    background-image: url('/public/sun.svg');
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
    z-index: 1;
    opacity: 1;
}

.first-triangle:hover .symbol,
.second-triangle:hover .symbol {
    opacity: 1;
}

.first-triangle:hover .triangle-image,
.second-triangle:hover .triangle-image {
    opacity: 0;
    transition: opacity 2s ease-in-out 1s;

}

.flag-end {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.flag-end img {
    position: absolute;
    inset: 0;
}

.himal-img {
    transform: translateY(100%);
    transition: 2s ease-in-out;
}

.pahad-img {
    transform: translateY(50%);
    transition: 1s ease-in-out;
}

.flag-end:hover .himal-img,.flag-end:hover .pahad-img {
    transform: translateY(0);
}

.himal-img {
    top: -15% !important;
}

.slogan {
    position: absolute;
    top: 0;
    z-index: 10;
    font-size: 4rem;
    font-weight: 900;
    color: white;
}